body{
    background-color: darkmagenta;
    color: lightseagreen;

}



nav{
    height: 6000px;
    width: 800px;
    float: center;
    padding: 5px;
    line-height: 30 px;
}

footer{
    text-align: center;
    margin-right: 200px;
}



h1{
    font-style: bold;
    font-size: 2.5em;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    } 

p{
    background-color: darkmagenta;
    box-shadow: 12px 12px #410365, -10px -10px rgb(187, 8, 215);
    border-radius: 20px;
    color:black
    text-align: center;
}
/* buttons alignment */
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Button styles */
.button1{
        display: inline;
        background-color: lightblue; /* Blue background */
        color: black; /* Black text */
        font-style: bold; /* Make the text bold */;
        padding: 15px 32px; /* Padding around the text */
        text-align: center; /* Center the text */
        text-decoration: none; /* Remove underline from links */
        font-size: 16px; /* Font size */
        margin: 4px 2px; /* Margin around the button */
        cursor: pointer; /* Pointer cursor on hover */
        border-style: groove;
        border-color: lightseagreen;
        outline-color: darkred;
        background-color: darkblue;
        border-width: thick;
        transition: background-color 0.3s ease; /* Smooth transition for hover effect */
        }

.button2{
    display: inline;
    background-color: lightblue; /* Blue background */
    color: black; /* Black text */
    font-style: bold; /* Make the text bold */;
    padding: 15px 32px; /* Padding around the text */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline from links */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin around the button */
    cursor: pointer; /* Pointer cursor on hover */
    border-style: groove;
    border-color: lightseagreen;
    outline-color: darkred;
    background-color: darkblue;
    border-width: thick;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    }

.button3{
    display: inline;
    background-color: lightblue; /* Blue background */
    color: black; /* Black text */
    font-style: bold; /* Make the text bold */;
    padding: 15px 32px; /* Padding around the text */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline from links */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin around the button */
    cursor: pointer; /* Pointer cursor on hover */
    border-style: groove;
    border-color: lightseagreen;
    outline-color: darkred;
    background-color: darkblue;
    border-width: thick;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    }

.button5{
    display: inline;
    background-color: lightblue; /* Blue background */
    color: black; /* Black text */
    font-style: bold; /* Make the text bold */;
    padding: 15px 32px; /* Padding around the text */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline from links */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin around the button */
    cursor: pointer; /* Pointer cursor on hover */
    border-style: groove;
    border-color: lightseagreen;
    outline-color: darkred;
    background-color: darkblue;
    border-width: thick;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}
